* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
}

main {
    width: 80%;
    height: 100%;
    border: 4px solid green;

    background-image: url("../image/cs-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    border: 4px solid purple;
    gap: 74px;
}

.logo {
    display: flex;
    gap: 14px;
}

nav {
    display: flex;
    gap: 32px;
    align-items: center;
}

.logo > img {
    width: 48px;
    height: 48px;
}

h1 {
    font-size: 36px;
    font-family: "handlee", cursive;
    font-weight: 800;
    font-style: normal;
}

a {
    font-size: 24px;
    color: black;
    font-family: "inter" , sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main > img {
    width: 400px;
    height: 400px;
}
